<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- select2 plugin cnd js !-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- select2 plugin cnd css !-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        $(document).ready(function () {
            var $select1 = $('#select1'),
                $select2 = $('#select2'),
                $option = $select2.find('option');

            $select1.on('change', function () {
                $select2.html($option.filter('[value="' + this.value + '"]'));
            }).trigger('change');
        });
    </script>
    <script>
        $(document).ready(function (){
            $('#select1').select2({

            });
            $('#select2').select2({

            });
        })
    </script>
</head>
<body>
<center>
    <h2>Dependent Cascading DDL with JQuery Select2 Plugin</h2>
    <hr/>
    <select name="" id="select1" style="width: 200px;">
        <option value="" selected disabled></option>
        {% for products in product %}
            <option value="{{ products.pid }}">{{ products.pname }}</option>
        {% endfor %}
    </select>

    <select name="" id="select2" style="width: 200px;">
        <option value="" selected disabled></option>
        {% for items in item %}
            <option value="{{ items.pid }}">{{ items.itemName }}</option>
        {% endfor %}
    </select>
</center>
</body>
</html>